<style>
  #footer {
    min-height: 10vh;
    background: black;
    color: #fff;
  }

  #footer a {
    color: #e1e1e1;
  }
</style>
<footer id="footer" class="has-text-centered is-flex center">
  <div class="container has-padding">
    <div>
      <div>
        <!--请您保留作者署名, 主题制作来之不易-->
        <!--Theme by <a href="http://haojen.github.io/">Haojen Ma</a>-->
        <!--<br>-->
        Copyright © <%= config.user_name || config.title %> <%= date(new Date(), 'YYYY') %> |  <a href="#" target="_blank" class="f-address" style="color:#ddd; text-decoration: no-underline">
          Made with &nbsp;<i class="fa fa-heart" style="color:#FF7867"></i> &nbsp;in ತೀರ್ಥಹಳ್ಳಿ
        </a>
        <!--<br>-->
        <!--<%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>-->
      </div>
    </div>
  </div>
</footer>

<%- js('js/search_core')%>
<%- js('js/script')%>
